@page "/authors/view/{Id}"

@inject IAuthorRepository _authorRepo
@inject NavigationManager _navManager

<h3>View Authors Details</h3>

@if (Model == null)
{
    <LoadingMessage Message="Loading Author Details"/>
}
else 
{
<div class="col-md-4">
    <table class="table table-responsive">
        <tr>
            <td>First Name</td>
            <td>@Model.Firstname</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@Model.Lastname</td>
        </tr>
        <tr>
            <td>Biography</td>
            <td>@Model.Bio</td>
        </tr>
    </table>
    <br />
    @if (Model.Books == null || Model.Books.Count == 0)
    {
        <div class="alert alert-dismissible alert-secondary">
            No Books for this Author
        </div>
    }
    else
    {
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h4>Authors's Books</h4>
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var book in Model.Books)
                {
                    <li class="list-group-item"><b>@book.Title</b> - @book.Price </li>
                }
            </ul>
        </div>
    }

</div>
}
<br />
<button @onclick="BackToList" class="btn btn-outline-secondary">Back To List
    <span class="oi oi-media-skip-backward"></span>
    </button>

@code {
    [Parameter]
    public string Id { get; set; }

    private Author Model = new Author();

    protected override async Task OnInitializedAsync()
    {
        Model = await _authorRepo.Get(Endpoints.AuthorsEndpoint, int.Parse(this.Id));
    }

    private void BackToList() 
    {
        _navManager.NavigateTo("/authors/");
    }
}
